<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBxN2mC4-LN8mA1VXGu6PuVQp5TiIsaajM</string>
	<key>GCM_SENDER_ID</key>
	<string>775055672102</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.alexandrakomkova.socialMediaApp</string>
	<key>PROJECT_ID</key>
	<string>social-media-flutter-4fefb</string>
	<key>STORAGE_BUCKET</key>
	<string>social-media-flutter-4fefb.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775055672102:ios:eaee7090d025ef18a277e7</string>
</dict>
</plist>